h1 {
    color: rgb(12, 2, 10);
    text-align: center;
  }
  h2 {
    color: rgb(102, 10, 94);
    font-style: italic;
    text-align: center;
  }
  h3 {
      color: rgb(49, 163, 45);
  }
  ul {
    color: rgb(32, 35, 223);
    font-style: italic;  
  }
  h4 {
    color: rgb(45, 158, 139);
}
